# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Virtual environments
venv/
.venv/
ENV/
.env/

# OS
.DS_Store
Thumbs.db
ml-service/debug_pipeline.ipynb
ml-service/*.pkl
